<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <div class="form-group">
    <input 
      type="text" 
      id="name" 
      formControlName="name" 
      placeholder="Nombre"
      class="form-control">
  </div>

  <div class="form-group">
    <input 
      type="text" 
      id="lastName" 
      formControlName="lastName" 
      placeholder="Apellido"
      class="form-control">
  </div>

  <div class="form-group">
    <input 
      type="email" 
      id="email" 
      formControlName="email" 
      placeholder="Correo"
      class="form-control">
  </div>

  <div class="form-group">
    <input 
      type="password" 
      id="password" 
      formControlName="password" 
      placeholder="Contraseña"
      class="form-control">
  </div>

  <button type="submit" class="btn-register">Registrarse</button>
</form>
