<!-- src/app/components/header/header.component.html -->
<header class="header">
  <div class="container">
    <div class="logo">
      <h1 (click)="navigateToHome()">MyBooks</h1>
    </div>
    
    <nav class="nav-menu" [class.active]="isMenuOpen">
      <ul>
        <li><a (click)="navigateToHome()" class="nav-link">Home</a></li>
        <li><a (click)="navigateToAddBook()" class="nav-link">AddBook</a></li>
        <li><a (click)="navigateToUpdateBook()" class="nav-link">UpdateBook</a></li>
        <li><a (click)="navigateToBooks()" class="nav-link">Books</a></li>
        <li><a (click)="navigateToLogin()" class="nav-link">Login</a></li>
        <li><a (click)="navigateToRegister()" class="nav-link">Register</a></li>
        <li><a (click)="navigateToProfile()" class="nav-link">User</a></li>
      </ul>
    </nav>
    
    <div class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
