html, body {
 height: 100%;
 margin: 0;
    font-family: Arial, sans-serif;
    color: #333333;
 background-color: #f0f0f0; /
}

.container {
   width: 60%;
    background-color: #FFF5EE;
    margin: auto;
}

h1 {
    text-align: center;
    color: #FF5733;
    font-size: 36px;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #FF5733;
    background-color: #ecdfdc;
    color: #FF5733;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 150px;
}

table {
    width: 60%;
    background-color: #f46906;
    border-collapse: collapse;
    margin: auto;

}

th, td {
    border: 1px solid #FFA500;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #FF5733;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #FFDAB9;
}


tbody tr:nth-child(even) {
    background-color: #FFF5EE;

}

button {   
    align-items: center;
    width: 60%;
    background-color: #FFF5EE;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #FF5733;
    font-size: 15px;   
    border: 1px solid #FF5733;
    background-color: #ecdfdc;
    color: #FF5733;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;

}

button:hover {
    background-color: #d5ccbb;
}
